In [3]:
import sqlite3
import pandas as pd

In [4]:
def db_interact(query):
    return pd.read_sql_query(query,db)

In [5]:
db = sqlite3.connect('data/hubway.db')

## JOINS

Combine information across multiple tables

In [16]:
query = """
SELECT bike_number, stations.station
FROM trips
JOIN stations 
ON trips.start_station = stations.id
WHERE zip_code = "'02109"
LIMIT 10
"""

In [17]:
db_interact(query)

  bike_number                                           station
0      B00190                            Colleges of the Fenway
1      B00275                 South Station - 700 Atlantic Ave.
2      B00480                       Lewis Wharf - Atlantic Ave.
3      B00552                       Lewis Wharf - Atlantic Ave.
4      B00128                             Summer St. / Arch St.
5      B00408                          Cross St. at Hanover St.
6      B00486          Boston Public Library - 700 Boylston St.
7      B00486                     Prudential Center / Belvidere
8      B00216  HMS / HSPH - Ave. Louis Pasteur at Longwood Ave.
9      B00216                                   Landmark Centre

In [20]:
query = """
SELECT t.bike_number, s.station
FROM trips AS t
JOIN stations AS s
ON t.start_station = s.id
WHERE t.zip_code = "'02109"
LIMIT 10
"""

In [19]:
db_interact(query)

  bike_number                                           station
0      B00190                            Colleges of the Fenway
1      B00275                 South Station - 700 Atlantic Ave.
2      B00480                       Lewis Wharf - Atlantic Ave.
3      B00552                       Lewis Wharf - Atlantic Ave.
4      B00128                             Summer St. / Arch St.
5      B00408                          Cross St. at Hanover St.
6      B00486          Boston Public Library - 700 Boylston St.
7      B00486                     Prudential Center / Belvidere
8      B00216  HMS / HSPH - Ave. Louis Pasteur at Longwood Ave.
9      B00216                                   Landmark Centre

![JOINS](pic/JOINS.png)

## LEFT OUTER JOIN

In [33]:
query = """
SELECT t.bike_number, s.station
FROM trips AS t

LEFT OUTER JOIN stations AS s
ON t.start_station = s.id

WHERE t.zip_code = "'02109"

LIMIT 10
"""

In [26]:
db_interact(query)

  bike_number                                           station
0      B00190                            Colleges of the Fenway
1      B00275                 South Station - 700 Atlantic Ave.
2      B00480                       Lewis Wharf - Atlantic Ave.
3      B00552                       Lewis Wharf - Atlantic Ave.
4      B00128                             Summer St. / Arch St.
5      B00408                          Cross St. at Hanover St.
6      B00486          Boston Public Library - 700 Boylston St.
7      B00486                     Prudential Center / Belvidere
8      B00216  HMS / HSPH - Ave. Louis Pasteur at Longwood Ave.
9      B00216                                   Landmark Centre

In [40]:
query = """
SELECT t.bike_number, s.station
FROM trips AS t

LEFT OUTER JOIN stations AS s
ON t.start_station = s.id

WHERE s.station LIKE "%Pier"

LIMIT 10
"""

In [41]:
db_interact(query)

  bike_number   station
0      B00099  Fan Pier
1      B00311  Fan Pier
2      B00515  Fan Pier
3      B00540  Fan Pier
4      B00288  Fan Pier
5      B00422  Fan Pier
6      B00407  Fan Pier
7      B00407  Fan Pier
8      B00422  Fan Pier
9      B00352  Fan Pier

## INNER JOIN

In [42]:
query = """
SELECT t.bike_number, s.station
FROM trips AS t

INNER JOIN stations AS s
ON t.start_station = s.id

WHERE s.station LIKE "%Pier"

LIMIT 10
"""

In [43]:
db_interact(query)

  bike_number   station
0              Fan Pier
1      A07800  Fan Pier
2      A07800  Fan Pier
3      A07807  Fan Pier
4      A07811  Fan Pier
5      A07811  Fan Pier
6      A07811  Fan Pier
7      A07812  Fan Pier
8      A07812  Fan Pier
9      A07812  Fan Pier

---

### Excercise

Find all rides that starte at a station with 'Plaza' in the name.

In [58]:
query = """

"""

In [ ]:
db_interact(query)